.header-button {
	color: #fff;
	border-style: groove;
	background: #17a2b8;
	border-color: #17a2b8;
	border-radius: 10px;
	padding: 10px;
}

.secondary-block {
	padding: 10px;
	background: aliceblue;
	border-style: groove;
	border-radius: 10px;
}

.main-div {
	padding-top: 4%;
	margin: 4%;
	margin-left: 10%;
	margin-right: 10%;
	border-style: groove;
	padding-bottom: 7%;
	border-radius: 50px;
}
.main-header{
    text-align: center;
    padding-bottom: 15px;
}
.main-body{
	background: radial-gradient(black, transparent);
}
.div-body{
	background: white;
	border-color: #17a2b8;
}
img {
	height: 284px;
	width: 100%;
}

.brand-login{
text-align: center; 
margin-top: 5%;
}
.login-container{
border-style: groove; 
border-radius: 10px; 
padding: 10px; 
background: aliceblue; 
width: 30%; 
margin-left: 34%;"
}
.inner-login-container{
margin: 10px; 
padding-left: 15%;
}
.login-button{
margin: 10px; 
width: 74%;
}